# Files:
  genotypeFile        : "RNsarma-GBS_Final_filtered_0.9.recode_ajt.vcf"
  phenotypeFile       : "phenotype.csv"
  genotypeFormat      : "VCF"
  mapFile             : ""
# GWAS model:
  ploidy              : 2
  significanceLevel   : 0.01
  correctionMethod    : "Bonferroni"
  gwasModel           : Naive
  geneAction          : "All"
  R2                  : "0.9"
# Quality control:
  filtering           : FALSE
  MAF                 : 0.01
  MIND                : 0.1
  GENO                : 0.1
  HWE                 : 1e-10
# Tools:
  nBest               : 10
  tools               : "GAPIT TASSEL "
